.mantine-Select-label {
    font-weight: bold;
}

.mantine-MultiSelect-label {
    font-weight: bold;
}

.mantine-Select-option[data-checked] {
    font-weight: bold;
    background-color: rgb(229, 236, 246, 0.5);
}

.mantine-MultiSelect-option[data-checked] {
    font-weight: bold;
    background-color: rgb(229, 236, 246, 0.5);
}

.mantine-NumberInput-label {
    font-weight: bold;
}

.mantine-DatePickerInput-label {
    font-weight: bold;
}

.mantine-TextInput-label {
    font-weight: bold;
}

.mantine-Modal-title {
    font-weight: bold;
    font-size: 1.6em;
}

.mantine-Switch-label {
    font-size: 1rem;
}

.mantine-NavLink-label {
    font-size: 1em;
}
